html,body{
    min-height:100%
  }
  body {
    font-family:sans-serif;
    text-align: center;
    background: #111 url(https://goo.gl/D1AeUS) center no-repeat;
    background-size:cover;
    color:#aaa
  }
  #dosbox:hover .dosbox-start{
    opacity:1
  }
  #dosbox .dosbox-start {
    background:url(https://goo.gl/LiSWVh) center no-repeat;
    background-size:150px;
    height:100%;
    image-rendering:pixelated;
    top:4% !important;
    color: rgba(0,0,0,0);
    filter: drop-shadow(0px 0px 8px rgba(255,255,255,.95));
    opacity:0
  }
  .dosbox-powered {
    opacity: 0;
  }
  .dosbox-container {
    background: #000 url(https://goo.gl/aZVGdQ) center no-repeat;
    margin: 10% auto 0 auto;
    width: 640px;
    height: 400px;
  }
  .dosbox-container > .dosbox-overlay {
    background: url(https://js-dos.com/cdn/doom_2.png);
  }
  button{
    background:#a00;
    border:0;
    padding:5px 15px;
    cursor:pointer;
    font-weight:700
  }
  p{
    font-size:11px
  }
  a{
    color:#aaa
  }